[submodule ".anyenv/envs/nodenv"]
	path = .anyenv/envs/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule ".anyenv/envs/rbenv"]
	path = .anyenv/envs/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".anyenv/envs/pyenv"]
	path = .anyenv/envs/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "enhanced"]
	path = enhanced
	url = https://github.com/b4b4r07/enhancd.git
[submodule ".anyenv/envs/goenv"]
	path = .anyenv/envs/goenv
	url = https://github.com/syndbg/goenv.git
[submodule ".anyenv/envs/tfenv"]
	path = .anyenv/envs/tfenv
	url = https://github.com/tfutils/tfenv.git
[submodule ".anyenv/envs/phpenv"]
	path = .anyenv/envs/phpenv
	url = https://github.com/phpenv/phpenv.git
[submodule ".anyenv/plugins/anyenv-update"]
	path = .anyenv/plugins/anyenv-update
	url = https://github.com/znz/anyenv-update
