[user]
    name = "Kaze Shindo"
    email = kaze.bknb@outlook.jp

[url "git@github.com:"]
    InsteadOf = https://github.com/

[alias]
    st = status
    cm = commit
    df = diff
    br = branch
    co = checkout
    clean-branch = !git branch --merged | egrep -v '\\*|master|dev|release' | xargs git branch -D

[fetch]
    prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
