[submodule ".anyenv/envs/nodenv"]
	path = .anyenv/envs/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule ".anyenv/envs/rbenv"]
	path = .anyenv/envs/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".anyenv/envs/pyenv"]
	path = .anyenv/envs/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "enhanced"]
	path = enhanced
	url = https://github.com/b4b4r07/enhancd.git
